<h1>Login</h1>

<form class="" action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <p>
    <label for="username">Username</label>
    <input type="text" name="user[username]" value="">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="user[password]" value="">
  </p>
  <p>
    <button name="submit">Submit</button>
  </p>
</form>
