<div class="image-container backbone-temp col-xs-8 col-xs-offset-2">
  <div class ="row text-center">
    <h1>Explore</h1>
  </div>

  <ul class="list-unstyled">
    <% tags.forEach( function (tag, idx) { %>
      <% idx += 1 %>
        <a href="#/search/<%= tag %>">
          <div class="explore-img">
            <h2><%= tag %></h2>
          </div>
        </a>


    <% }); %>
  </ul>
</div>
