<div class="bbm-modal">
  <div class="bbm-modal__section">
    <h1 class="bbm-modal__title">Upload a Picture</h1>
  </div>
  <div class="bbm-modal__section">
    <form class="form upload-form">
      <div class="form-group bbm-modal__section">
        <label for="title">Title</label>
        <input type="text" class="form-control upload-title" name="img[title]" value="" placeholder="Untitled">
      </div>

      <div class="form-group bbm-modal__section">
        <label for="description">Description</label>
        <textarea class="form-control" name="img[description]"></textarea>
      </div>

      <div class="form-group bbm-modal__section">
        <label for="tag">Image Tag</label>
        <input list="tags" class="form-control upload-tag" name="img[tag]" value="">
        <datalist id="tags">
          <option value="Other">
          <option value="Architecture">
          <option value="Animals">
          <option value="Art">
          <option value="Automobiles">
          <option value="Celebrity">
          <option value="Design">
          <option value="Fashion">
          <option value="Film">
          <option value="Food">
          <option value="Funny">
          <option value="Illustrations">
          <option value="Interior Design">
          <option value="Music">
          <option value="Nature">
          <option value="Photography">
          <option value="Religion">
          <option value="Romance">
          <option value="Sports">
          <option value="Toys">
          <option value="Travel">
          <option value="Typography">
          <option value="Urban">
          <option value="Weddings">
        </datalist>
      </div>

      <div class="bbm-modal__section">
        <label for="album">Choose an Album:</label>
        <input list="album" class="form-control album-id-input" name="img[album_id]" value="">
        <datalist id="album">
          <% user.albums().forEach( function (album) { %>
            <option value="<%= album.escape('title') %>"></option>
          <% }); %>
        </datalist>
      </div>

      <div class="bbm-modal__section">
        <br>
        <button id="filepicker-button" class="bbm-button">Upload</button>
        <button id="cancel-upload" class="bbm-button">Cancel</button>
      </div>

    </form>
  </div>
  <div class="bbm-modal__section"></div>
</div>
