<div class="image-container backbone-temp col-xs-8 col-xs-offset-2">
  <div class ="row text-center">
    <h1>Explore</h1>
  </div>

  <ul class="list-unstyled">
    <% tags.forEach( function (tag) { %>
      <li><a href="#/search/<%= tag %>"><%= tag %></a></li>
    <% }); %>
  </ul>
</div>
