<div class="image-container backbone-temp col-xs-8 col-xs-offset-2">
  <div>
    <div class ="row text-center">
      <h1><%= image.escape('title') %></h1>
    </div>

    <div class="row text-center">
      <div class="">
        <img src="<%= image.escape('image_url') %>" class="img-show">
      </div>
    </div>

    <div class="description">
      <p><%= image.escape('description') %></p>
    </div>
  </div>


  <div class="image-comments row">
    <h2>Comments</h2>
  </div>

</div>
