<div class="backbone-temp col-xs-8 col-xs-offset-2">
  <div class="row">
    <h1>List of Users</h1>
  </div>

  <div class>
    <ul class="list-unstyled">
      <% users.forEach(function (user, idx) { %>
        <% idx += 1 %>

        <span class ="col-xs-3 user-index">
          <a href="#/users/<%= user.escape('username') %>">
            <img src="<%= user.escape('avatar_url') %>" class="avatar-size"/>
            <%= user.escape('username') %>
          </a>
        </span>
      <% }); %>
    </ul>
  </div>
</div>
