
<div class="profile col-xs-8 col-xs-offset-2">
  <div class="row">
    <h1><%= user.escape('username') %>'s profile</h1>
  </div>

  <div class="row">
    <img src="/assets/unknown.jpg">
  </div>

  <div class="row">
    <h3>Uploaded pictures</h3>
  </div>

  <div class="row">
    <% user.userImages().forEach( function (image) { %>
      <img src="<%= image.escape('image_url') %>" class="user-profile-img">
    <% }); %>
  </div>
</div>
