<div class="profile" id="profile-show">
  <div class="row cover-image" id="cover-image"
    style="background-image: url(<%= user.escape('cover_photo_url') %>)">
    <div class="row"></div>
    <img src="<%= user.escape('avatar_url') %>" id="user-profile-img">
    <div class="person">
      <h1><span class="name-holder"><%= user.escape('username') %></span></h1>
    </div>
    <div class="stats">
      <div class="stat statcount">
        <h1><%= user.imageCount %></h1>
        <h2>Photos</h2>
      </div>
      <div class="stat member-since">
        <h1>October 2014</h1>
        <h2>Member Since</h2>
      </div>
      <div class="change-photo" style="display: none">
        <a><strong>Edit cover photo</strong></a>
      </div>
    </div>
    <div class="navbar profile-nav" id="profile-navbar">
      <ul class="clearfix nav navbar-nav" id="nav-ul-links">
        <li class="photostream-btn active"><a href="">Photostream</a></li>
        <li class="albums-btn"><a href="">Albums</a></li>
        <li class="favorites-btn"><a href="">Favorites</a></li>
        <li class="edit-btn"><a href="">Edit</a></li>
      </ul>
    </div>
  </div>

  <div class="container-fluid photostream">
  </div>




</div>
