<div class="backbone-temp col-xs-8 col-xs-offset-2">
  <div class="row text-center">
    <h1>List of Users</h1>
  </div>

  <div class>
    <ul class="list-unstyled text-center clearfix col-xs-offset-2">
      <% users.forEach(function (user, idx) { %>
        <% idx += 1 %>

        <div class ="user-index text-left col-xs-3">
          <a href="#/users/<%= user.escape('username') %>">
            <img src="<%= user.escape('avatar_url') %>" class="avatar-size"/>
            <%= user.escape('username') %>
          </a>
        </div>
      <% }); %>
    </ul>
  </div>
</div>
