<div class="profile col-xs-8 col-xs-offset-2">
  <h1><%= @user.username %>'s profile</h1>
    <% p @user %>
  <%= image_tag "#{@user.filepicker_url}" %>

  <div>
    <ul>
      <% @user.images.each do |image| %>
        <li><%= image.title %></li>
      <% end %>
    </ul>
  </div>

</div>
