<div class="main-container">
</div>

<script charset="utf-8">
$(document).ready(function(){
  $('body').addClass("body-logged-in");
  $('nav').removeClass("navbar-logged-out");
  window.currentUserId = <%= @current_user.id %>;
  EfStops.initialize();
});
</script>
