<div class="main-container">
</div>

<script charset="utf-8">
$(document).ready(function(){
  $('.main-container').addClass("body-logged-in");
  $('nav').removeClass("navbar-logged-out");
  $('main').removeClass("main-logged-out");
  $('#main-container').addClass("login-container");
  window.currentUserId = <%= @current_user.id %>;
  window.currentUserUsername = "<%= @current_user.username %>";  
  EfStops.initialize();
});
</script>
