<div class="image-description">
  <div class="row"><%= image.title %></div>
  <div class="row"><%= image.owner %></div>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-7">
      <span class="glyphicon glyphicon-star-empty"></span>
      <span class="glyphicon glyphicon-comment"></span>
      <span class="glyphicon glyphicon-resize-full"></span>
    </div>
  </div>
</div>
