<div class="hover-target">
  <span class="image-container">
    <a>
      <img src="<%= image.escape('image_url') %>">
    </a>
  <span>
  <div class="image-description">
    <div class="image-title">
      <a href=""><%= image.escape('title') %></a>
    </div>
    <div class="image-owner">
      <a href=""><%= image.escape('owner') %></a>
    </div>
    <span class="glyphs">
        <a href=""><span class="glyphicon glyphicon-star-empty"></span></a>
        <a href=""><span class="glyphicon glyphicon-comment"></span></a>
        <a href=""><span class="glyphicon glyphicon-resize-full"></span></a>
    </span>
  </div>
</div>
