/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.ui.autocomplete
 *= require jquery.ui.tooltip
 */

@import "bootstrap-sprockets";
@import "bootstrap";



.row {
  padding: 10px;
}

body {
  margin: auto auto;
  padding: 0;
  background: white;
  background: lightgrey;

}

.body-logged-in {
  background: darkgrey;
  background-image: 0;
  background-size: 0;
  background-position: 0;
  background-attachment: 0;
}

.main-logged-out {
  background-size: cover;
  background-position: 0 15%;
  /* background-attachment: fixed; */
  background-image: url("https://farm4.staticflickr.com/3846/14363066784_4a3d0e110b_b.jpg");
  background-repeat: no-repeat;
  width: 100%;
  padding: 50px 0 0 0;
  /* height: 630px; */
  margin-bottom: 0;
}

main {
  background: darkgrey;
}

.navbar-logged-out {
  background: transparent;
}

.navbar {
  background: #1F1F20;
  color: lightgrey;
  border: 0px;
  border-radius: 0px;
  margin: 0;
}

.background {
  background-image: url("../mountains.jpg");

}

.login-signup {
  background: white;
  border-radius: 10px;
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-signup-form-header {
  background: #2E4B67;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: lightgrey;
}

.login-signup-form {
  background: lightgrey;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.errors {
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
}

.errors p {
  padding: 2px;
  margin: 0px;
}

.root-intro {
  margin-top: 110px;
  border-radius: 10px;
  background-color: white;
  opacity: 0.9;
  padding: 5px;
  text-align: center;
  min-width: 435px;
  div, p, h1 {
    color: black;
    opacity: 1.0;
    font-weight: bold;
  }
  p {
    font-size: 18px;
  }

}

.profile {
  background: lightgrey;
  opacity: 0.9;
  padding: 10px;
  border-radius: 10px;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}

.navbar-default .navbar-nav > li > a {
  color: lightgrey;
}

.container-fluid .navbar-header a {
  color: white;
}

.form-container {
  background: white;
  opacity: 0.8;
}

.backbone-temp{
  top: 25px;
  bottom: 50px;
  background: white;
  opacity: 0.9;
  padding: 20px;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}

.user-profile-img {
  max-height: 150px;
  max-width: 150px;
  border: 2px solid black;
}

.image-title-header {
  text-align: center;
}

textarea {
  resize: none;
}

.album-img {
  max-height: 200px;
  border: 2px solid black;
}

.img-show {
  max-height: 500px;
  border: 2px solid black;
}

.avatar-size {
  height: 50px;
  width: 50px;
}

.explore-img{
  margin: 10px;
  background-image: url("/assets/Camera-icon.png");
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  opacity: 0.4;
  h2 {
    color: black;
    opacity: 1;
  }
}

.user-index {
  margin: 4px;
}

.tooltip-alert {
  background: red;
  color: white;
}

.ui-tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}

.new-comment-content {
  height: 150px;
  width: 400px;
}

footer {
  background: #1F1F20;
  color: #777;
  margin-bottom: 0px;
  text-align: center;
  color: #1F1F20;
}

section {
  margin-bottom: 0 0 0 0;
  padding: 0 0 0 0;
}
.footer {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  h1 {
    margin: 0;
    padding: 0;
  }
}

.guest-button {
  margin-top: 8px;
  margin-left: 10px;
}
/* * {
  border: 1px solid blue;
} */
