/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.ui.autocomplete
 *= require jquery.ui.tooltip
 *= require backbone.modal
 *= require backbone.modal.theme
 */

@import "bootstrap-sprockets";
@import "bootstrap";



.row {
  padding: 10px;
}

body {
  margin: auto auto;
  padding: 0;
  background: white;

}

.body-logged-in {
  background: darkgrey;
  background-image: 0;
  background-size: 0;
  background-position: 0;
  background-attachment: 0;
}

.main-logged-out {
  background-size: cover;
  background-position: 0 15%;
  /* background-attachment: fixed; */
  background-image: url("https://farm4.staticflickr.com/3846/14363066784_4a3d0e110b_b.jpg");
  background-repeat: no-repeat;
  width: 100%;
  padding: 50px 0 0 0;
  height: 630px;
  margin-bottom: 0;
}

main {
  background: darkgrey;
}

.navbar-logged-out {
  background: transparent;
}

.navbar {
  background: #1F1F20;
  color: lightgrey;
  border: 0px;
  border-radius: 0px;
  margin: 0;
}

.background {
  background-image: url("../mountains.jpg");

}

.login-signup {
  background: white;
  border-radius: 10px;
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-signup-form-header {
  background: #2E4B67;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: lightgrey;
}

.login-signup-form {
  background: lightgrey;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.errors {
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
}

.errors p {
  padding: 2px;
  margin: 0px;
}

.root-intro {
  margin-top: 110px;
  border-radius: 10px;
  background-color: white;
  opacity: 0.9;
  padding: 5px;
  text-align: center;
  min-width: 435px;
  div, p, h1 {
    color: black;
    opacity: 1.0;
    font-weight: bold;
  }
  p {
    font-size: 18px;
  }

}

.profile {
  display: block;
  zoom: 1;
  position: relative;
  background: white;
  opacity: 0.9;
  padding: 0 0px 0 0px;
  margin: 0;
  width: auto;
  font-family: "HelveticaNeue-Light",Helvetica,Arial,sans-serif;
  font-size: 15px;
  .cover-image {
    margin: 0;
    padding: 0;
    height: 187px;
    background-position: 0 30%;
  }
  #user-profile-img {
    z-index: 3;
    position: absolute;
    top: 65px;
    left: 4px;
    margin-left: 10px;
    max-height: 113px;
    max-width: 113px;
    border: 1px solid darkgrey;
    display: block;
    zoom: 1;
  }
  .person {
    position: absolute;
    display: block;
    right: 0;
    font-size: 3.5em;
    top: 70px;
    left: 140px;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 0 black;
    color: #FFF;
  }
  .stats {
    z-index: 2;
    position: absolute;
    line-height: 5px;
    right: 50px;
    top: 130px;
    .name-holder {
      position: relative;
    }
    h1 {
      font-size: 2.5em;
      padding-top: 0;
      text-shadow: 0 1px 0 black;
      color: white;
    }
    h2 {
      font-size: small;
    }
    .statcount {
      position: absolute;
      bottom: 0px;
      right: 180px;
      display: inline-block;
      margin: 0 0 0 40px;
      h1 {
        font-size: 1.5em;
        line-height: 0em;
        text-align: right;
        white-space: nowrap;
        padding-top: 0;
        text-shadow: 0 1px 0 black;
        color: #FFF;
      }
      h2 {
        font-size: .7em;
        line-height: .2em;
        text-align: right;
        white-space: nowrap;
        text-shadow: 0 1px 0 black;
        color: #FFF;
      }
    }
    .member-since {
      position: absolute;
      right: 0px;
      bottom: 0px;
      display: inline-block;
      margin: 0 0 0 40px;
      line-height: 17px;
      text-align: left;
      h1 {
        font-size: 1.5em;
        line-height: 0em;
        text-align: right;
        white-space: nowrap;
        padding-top: 0;
        text-shadow: 0 1px 0 black;
        color: #FFF;
      }
      h2 {
        font-size: .7em;
        line-height: .2em;
        text-align: right;
        white-space: nowrap;
        text-shadow: 0 1px 0 black;
        color: #FFF;
      }
    }
    .change-photo {
      background: darkgrey;
      opacity: 0.5;
      position: absolute;
      display: inline-block;
      bottom: 55px;
      right: 10px;
      width: 150px;
      height: 35px;
      padding: 13px 5px 5px 15px;
      border: 1px solid black;
      color: #FFF;
      z-index: 3
      a {
        opacity: 1;
      }
    }
    div#profile-navbar.navbar.profile-nav {
      position: absolute;
      opacity: 0.8;
      top: 120px;
      padding-left: 135px
    }
  }

  .photostream {
    text-align: center;
    padding: 5px;

  }
  .photostream-thumb {
    display: inline-block;
    white-space: nowrap;
    margin: 5px;
  }

}

.navbar-default .navbar-nav > li > a {
  color: lightgrey;
}

.container-fluid .navbar-header a {
  color: white;
}

.form-container {
  background: white;
  opacity: 0.8;
}

.image-container {
  margin-left: auto;
  margin-right: auto;
  background: #212124;

}

.image-show-links {
  height: 50px;
}

.comments-container {
  background: #ffffff;

  span.number {
    font-size: large;
  }

  .stats {
    border-bottom: 1px solid darkgrey;
    padding-bottom: 10px;
  }

  h3 {
    margin: 0px 10px 10px 0;
  }

  a {
    color: black;
  }
}

.backbone-temp{
  background: white;
  opacity: 0.9;
  padding: 20px;
  display: block;
}

.user-profile-img {
  max-height: 150px;
  max-width: 150px;
  border: 2px solid black;
}

.image-title-header {
  text-align: center;
}

textarea {
  resize: none;
}

.album-img {
  max-height: 200px;
  border: 2px solid black;
}

.img-show {
  max-height: 512px;
  max-width: 718px;
  border: 1px solid black;
}

.avatar-size {
  height: 50px;
  width: 50px;
}


.explore-div {
  height: 200px;
  width: 200px;
}

.explore-img{
  margin: 10px;
  background-image: url("/assets/Camera-icon.png");
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  opacity: 0.4;
  h2 {
    color: black;
    opacity: 1;
  }
}

.user-index {
  margin: 4px;
}

.tooltip-alert {
  background: red;
  color: white;
}

.ui-tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}

#main-container{
  background: white;
}

.new-comment-content {
  border-radius: 5px;
  height: 100px;
  width: 400px;
}

footer {
  background: #1F1F20;
  color: #777;
  margin-bottom: 0px;
  text-align: center;
  color: #1F1F20;
}

section {
  margin-bottom: 0 0 0 0;
  padding: 0 0 0 0;
}
.footer {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  h1 {
    margin: 0;
    padding: 0;
  }
}

.guest-button {
  margin-top: 8px;
  margin-left: 10px;
}

.login-container {

}

#explore-boxes {
  border-radius-top: 5px;
  padding: 0;
  max-height: 225px;

  max-width: 250px;
  min-height: 225px;
  min-width: 225px;
  margin: 10px;
  color: white;
  margin: 0 10px 10px 10px;
  text-align: center;
  h3 {
    padding: 0;
    margin: 0;
  }
  .explore-box-header {
    border-radius-top: 5px;
  }
  img {
    max-height: 200px;
    max-width: 200px;
  }
}

.button-form-div {
  max-width: 200px;
  display: inline;
}

#modal-container {
  z-index: 3;
}

.image-show-owner {
  border-bottom: 1px solid lightgrey;

  strong {
    font-size: medium;
  }

  .avatar-img {
    box-shadow: 10px 10px 5px #888888;
  }

  li {
    padding: 0;
    margin: 5px 0 5px 0;
    .row {
      padding: 0;
      margin: 0;
    }
  }
  .col-xs-2.comment-avatar {
    margin-top: 5px;
    padding-right: 5px;
    margin-right: 5px;
  }

  .btn {
    margin-right: 39px;
    position: relative;
    right: 116px;
  }
}
